* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header, nav, ul {
    display: flex;
    gap: 24px;
    padding: 4px;

}

nav {
}

.logo, .links {
    margin: auto;
    justify-content: flex-end;
    flex: 1 0 auto;
}

li {
    list-style: none;
    justify-content: space-between;
}
